/* Home */

.home { position: relative; }

.home h3 { margin: 0 0 20px 0; border-bottom: 2px solid #000; font-size: 20px; }
h4#archive_link {text-align: right; padding-right:20px;}
h4#archive_link a{color:#FFFFFF}
h4#archive_link a:hover{color:#CCCCCC}

.home .column .padding { padding-right: 20px; }

@media screen and (min-width: 750px) {
	.home .column { width: 50%; float: left; }
}

@media screen and (min-width: 950px) {
	.home .column { width: 33.33333333333333%; }
}

p.smallnews {text-align: left; font-size: .7em; padding: 0 20px; margin:0 0;}
span.newslabel {color: #8a8b8e;}

/* Carousel */

#carouselblock { padding: 0 20px; text-align: center;  overflow: hidden; }
#carouselblock .frames { width: 100%; height: 100%;}
#carouselblock .frame { width: 100%; height: 100%;  }
#carouselblock .frameimagewrap { padding-top: 20px; box-sizing: border-box; }
#carouselblock .frameimage { width: 100%; height: 100%; background-size: contain; background-position: center center; background-repeat: no-repeat; }

#carouselblock .ratio { padding-top: 100%; }

.carouselcaption { font-size: 14px; overflow: hidden; padding: 12px 0 24px 0; }
.carouselcaption p { margin: 0; text-align: left; }
.carouselcaption p.captioncount { color: #8a8b8e; }
.carouselcaption a { color:#000; border-bottom: 1px solid #8a8b8e; }


@media screen and (min-width: 600px) {

	.carouselcaption { padding: 0; }
	.carouselcaption p { padding: 12px 0 24px 0; margin: 0;  width: 46%; float: left; }
	.carouselcaption p.captioncount { text-align: right; float: right; }

}

@media screen and (min-width: 950px) {
	#carouselblock .ratio { padding-top: 0; }
	
}

/* Porfolios */

#portfoliosblock { color: #8a8b8e; }
#portfoliosblock a { color: #8a8b8e; }
#portfoliosblock .inner { padding: 0 0 100px 0; }
.projectdates { font-size: .8em; }

@media screen and (min-width: 950px) {

	#portfoliosblock .inner { padding: 123px 0 100px 0; }

}

/* Updates */

#updatesblock h3 { border-bottom: none; font-size: 14px; margin: 0 0 .5em 0;  color: #8a8b8e; line-height: 1; }
#updatesblock em { font-style: normal; color: #8a8b8e; border-bottom: none; font-size: 14px; }
#updatesblock a {  color: #000; border-bottom: 2px solid #a7a8aa; 
	-webkit-transition: border-color 0.2s ease;
	-moz-transition: border-color 0.2s ease;
	-o-transition: border-color 0.2s ease;
	transition: border-color 0.2s ease;
}
#updatesblock a:hover { border-color: #000; }


#updatesblock .maxwidth { max-width: 886px;}


#updatesblock .inner {  padding: 0 0 100px 20px;  overflow: hidden; }

#updatesblock .column .box {  background: #f3f3f4; }
#updatesblock .column .box .height { width: 100%; padding-top: 100%; position: relative; }
#updatesblock .column .box .proportional { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
#updatesblock .column p.handle { text-align: center; line-height: 1.2; }


#tumblr .box {text-align: center; }
.simple { height: 100%; }

@media screen and (min-width: 950px) {

	.home #updatesblock .column { width: 50%; }

	#updatesblock .inner { padding: 123px 0 100px 20px; }

}

/* Info */

#infoblock { line-height: 1.25; color: #8a8b8e; }
#infoblock .inner {  padding: 0 0 100px 20px; overflow: hidden; }
#infoblock .small { font-size: 14px; line-height: 1.2; }
#infoblock h3 {  border-bottom: 2px solid #fff;  }
#infoblock h4 span {border-bottom: 2px solid #fff;}
#infoblock a {color: #000;
}
#mce-EMAIL { background: #3e7be4; border: 2px solid #fff; color: #fff; font-family: 'PxGroteskBold', sans-serif; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-size: 20px; line-height: 1; width: 100%; padding: .5em; box-sizing: border-box; }
#mce-EMAIL::-webkit-input-placeholder { color: #fff; }
#mce-EMAIL:-moz-placeholder { color: #fff; }
#mc-embedded-subscribe { background: #fff; border: none; border-radius: 1em; font-size: 14px; font-family: 'PxGroteskBold', sans-serif; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; letter-spacing: 1px; text-transform: uppercase; color: #3e7be4; margin: 1em 0; padding: .5em 1em; }

@media screen and (min-width: 950px) {

	#infoblock .inner {  padding: 123px 0 100px 20px; overflow: hidden; }

}

/* Other */

#otherblock { line-height: 1.25;  }

#otherblock .inner { padding: 0 0 100px 20px; overflow: hidden; }
#otherblock a { color: #000; border-bottom: 2px solid #a7a8aa;
	-webkit-transition: border-color 0.2s ease;
	-moz-transition: border-color 0.2s ease;
	-o-transition: border-color 0.2s ease;
	transition: border-color 0.2s ease;
}
#otherblock a:hover { border-color: #000; }
#otherblock ul{list-style:none; padding-left:0;}
#otherblock li {padding-left:10px; text-indent:-10px;}

.book { text-align: center;  margin-bottom: 20px; line-height: 0; }
.book img { max-height: 295px; }
.book h4 { text-align: left; font-size: 14px; line-height: 1.2; margin: .25em 0;}
#otherblock .book a { color: #8a8b8e; border-bottom: none; }

.tears { text-align: center;  margin-bottom: 20px; line-height: 0; }
.tears img { max-height: 295px; }
.tears h4 { text-align: left; font-size: 14px; line-height: 1.2; margin: .25em 0;}
#infoblock .tears a { border-bottom: none; }

@media screen and (min-width: 950px) {

	#otherblock .inner { padding: 123px 0 100px 20px; }

}


/* Stripes */

.stripe { overflow: hidden; }

.stripeheader { background: #fff; overflow: hidden; }
.stripeheader .line {border-top: 1px solid #E2E2E3; margin: 0 20px; }


a.blockanchor { border-bottom: none !important; }
.js a.blockanchor { position: relative; display: block; }

.stripe h2 { text-align: center; }

#fixedtitle { display: none; }

@media screen and (min-width: 950px) {

	.stripe h2 { display: none; }
	

	.js #fixedtitle { width: 100%; text-align: center; padding-top: 7px; position: fixed; z-index: 1; display: block;
		-webkit-transition: opacity 0.2s ease;
		-moz-transition: opacity 0.2s ease;
		-o-transition: opacity 0.2s ease;
		transition: opacity 0.2s ease;
		}
	.js #fixedtitle h2 { font-size: 60px; margin: 0; }
	.js #fixedtitle.white {color: #fff; }
	
}

/* News */

#news { display: none; }

@media screen and (min-width: 950px) {

	#news { display: block; width: 295px; position: absolute; top: 35px; right: 10%; z-index: 2; }
	#news .inner {background: #fff; border: 3px solid #3e7be4; padding: 20px 20px 0 20px; }
	#news h2 { margin: 0; font-size: 20px; line-height: 1; border-bottom: none; text-align: left; color: #000; }
	#news h3 { font-size: 20px; color: #8a8b8e; border-bottom: none; margin: 0; }
	#news img { margin-top: .5em; }
	#news p { margin: 0; color: #3e7be4; line-height: 1.25; }
	#news .item { margin: 20px 0; }
	#news .item a { color: #3e7be4; border-bottom: 2px solid #8cb0ee;
		-webkit-transition: border-color 0.2s ease;
		-moz-transition: border-color 0.2s ease;
		-o-transition: border-color 0.2s ease;
		transition: border-color 0.2s ease;
		}
	#news .item a:hover { border-color: #3e7be4; }

	#news .item a.readmore { color: #8a8b8e; border-bottom: 1px solid #8a8b8e; }
	#news .item a.readmore:hover { border-color: #8a8b8e; }

	#news a.close { cursor: pointer; float: right; display: block; width: 19px; height: 19px; background: url('../images/close.svg') center center no-repeat; }
	#news a.close span { display: none; }

	.js #news:hover { cursor: move; }
	.js #newsbutton a:hover { cursor: pointer; }

}